* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.parent {
    background-color: white;
    border: 2px solid lightgray;
    padding: 10px;
    margin: 25px;
    border-radius: 20px;
    width: 450px;
    box-shadow: 0px 4px 15px rgba(0.5, 0, 0, 0.5);
}

.img {
    width: 450px;
    height: 350px;
    background-image: url(nature.jpg);
    background-size: cover;
    border-radius: 20px; 
    box-shadow: 0px 3px 15px rgba(0.1, 0, 0, 0.5);
}

.one,.two {
    border: 2px solid lightgray;
    color: rgb(112, 110, 110);
    border-radius: 25px;
    padding: 8px;
    position: relative;
    margin: 20px 10px 20px 20px ;
    display: inline-block;
}

h2 {
    padding-left: 15px;
}

p {
    font-size: 18px;
    color: rgb(112, 110, 110);
    line-height: 1.5;
    padding: 15px;
}

.btn {
    text-align: center;
}

.btn button {
    color:rgb(39, 99, 210);
    font-weight: bold;
    background-color: rgb(213, 237, 245);
    border: none;
    padding: 14px;
    margin-bottom: 10px;
    border-radius: 25px;
    cursor: pointer;
}

.btn button:hover {
    background-color: rgba(110, 191, 230, 0.5);
} 